/* Global Styles */

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #555;
  background-color: #f5f5f5;
}

/* Navbar Styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #31363f;
  color: #fff;
  padding: 1rem 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-heading {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}

.theme-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.theme-toggle-btn:hover {
  transform: scale(1.2);
}

.theme-toggle-icon {
  color: #ffff00;
  font-size: 2.2rem;
}

/* Main Wrapper Styles */

.main-wrapper {
  margin-top: 8rem;
  padding: 2rem;
  /* background-color: lightpink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  background-color: #fff;
  max-width: 40rem;
  width: 100%;
  margin-top: 2rem;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.app-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: #3b3b3b;
}

/* Task Section  */

.task-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.task-input {
  /* background-color: #ffff00; */
  padding: 1rem;
  width: 70%;
  font-size: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  outline: none;
}

.task-input:focus {
  border-color: #333333;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
}

.add-task-btn {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  background-color: #4da64d;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-task-btn:hover {
  background-color: #459545;
}

.add-task-btn:active {
  transform: scale(0.98);
}

/* Task List Styles */

/* Task container styling */
.task-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  gap: 1rem;
}

/* Individual task styles */
.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.5rem 0.5rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

/* Task text style  */
.task-item span {
  font-size: 1.9rem;
  font-weight: 500;
  color: #3b3b3b;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

/* Delete Button Styles */

.delete-btn {
  font-size: 2rem;
  padding: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.delete-btn ion-icon {
  color: #ff0000;
}

.delete-btn:hover ion-icon {
  color: #910000;
}

/* Task checkbox */

.checkbox {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  vertical-align: middle;
}

.completed {
  text-decoration: line-through;
  font-style: italic;
  color: #888;
}
