/* Global Styles */

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #555;
  background-color: #f5f5f5;
}

/* Navbar Styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #31363f;
  color: #fff;
  padding: 1rem 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-heading {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}

.theme-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.theme-toggle-btn:hover {
  transform: scale(1.2);
}

.theme-toggle-icon {
  color: #ffff00;
  font-size: 2.2rem;
}

/* Main Wrapper Styles */

.main-wrapper {
  margin-top: 8rem;
  padding: 2rem;
  /* background-color: lightpink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  background-color: #fff;
  max-width: 40rem;
  width: 100%;
  margin-top: 2rem;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.app-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: #3b3b3b;
}

/* Task Section  */

.task-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.task-input {
  /* background-color: #ffff00; */
  padding: 1rem;
  width: 70%;
  font-size: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  outline: none;
}

.task-input:focus {
  border-color: #333333;
}
